# S&P 500 Return Rate for the Past 5 Years

## Project Question: Is now a good time to invest?

##### CMSC320 Final Tutorial Project
##### Eric Qian, Sahil Sinha, Suraj Narang
##### 2 Dec 2021

In [4]:
# Introduction

Insert background on S&P500 and stuffff

In [1]:
# Data Loading

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_excel('Price of S&P500 on the First Day of Each Month.xlsx')
df.head()

       Year  Month  Stock Price ($)
0   January   2019          2510.03
1  February   2019          2706.53
2     March   2019          2803.69
3     April   2019          2867.19
4       May   2019          2923.73

In [ ]:
plt.figure(figsize = (15, 12))
plt.title("Price of S&P500 on the First Day of Each Month.xlsx")
plt.xlabel("Time in Months")
plt.ylabel("Price of S&P500 ($)")
years_table = pd.DataFrame(columns = ['Year'] + ['Month'])